@import
url('https://fonts.googleapis.com/css2?family=Josefin Sans:wght@300;400;600&display=swap');

:root{
	--Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Mobile view*/

body{
	background: url("../images/bg-pattern-desktop.svg") no-repeat;
	background-size: 950% 150%;
	font-size: 16px;
	font-family: Josefin Sans;
}

header{
	margin: 10%;
	margin-bottom: 8%;
}

header img{
	width: 33%;
}

#imgDesktop{
	display: none;
}

#imgMobile{
	width: 100%;
}

.container{
	margin: 10%;
	margin-top: 15%;
	text-align: center;
	/*border: 1px solid black;*/
}

#heading span{
	display: block;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-size: 2em;
	margin: 2%;
}

#top{
	font-weight: 300;
	color: var(--Desaturated-Red);
}

.bottom{
	font-weight: 600;
	color: var(--Dark-Grayish-Red);
}

.description{
	font-weight: 400;
	color: var(--Desaturated-Red);
	font-size: 0.8em;
	line-height: 20px;
	margin-top: 5%;
}

#mail input{
	margin: auto;
	margin-top: 10%;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	border: 0.5px solid var(--Desaturated-Red);
	background: transparent;
	padding: 15px;
	float: left;
	outline: none;
}

#mail input::placeholder{
	color: var(--Desaturated-Red);
	font-family: Josefin Sans;
	font-weight: 300;
}

#imge{
	width: 20%;
	background-image: -webkit-linear-gradient(20deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    line-height: 30px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    margin-left: -20%;
    float: left;
    margin-top: 10%;
    vertical-align: middle;
    align-items: center;
    display: flex;
    box-shadow: 0px 10px 20px 0px hsla(0, 36%, 70%, 0.4);
}

#imge img{
	width: 15%;
	display: block;
	margin: auto;
}

#validity{
	display: none;
}

footer{
	height: 10vh;
}

.wrongInput{
	border: 1px solid var(--Soft-Red) !important;
	background: url('../images/icon-error.svg') no-repeat 75% 50% !important;
}
.alert{
	color: var(--Soft-Red) !important;
	text-align: left !important;
	margin: 3% !important;
	display: block !important;
}
.arrow{
	box-shadow: 0px 10px 20px 0px hsla(0, 36%, 70%, 0.6) !important;
	background-image: -webkit-linear-gradient(20deg, hsl(0, 0%, 100%), hsl(6, 100%, 80%)) !important;
}

@media screen and (min-width: 700px){
	body{
		background: url("../images/bg-pattern-desktop.svg") repeat-y;
		background-blend-mode: color;
		background-size: 110% 110%;
		font-size: 16px;
	}

	#imgDesktop{
		display: inline-block;
		width: 100%;
	}
	#imgMobile{
		display: none;
	}

	header{
		margin: 5%;
		margin-left: 10%;
		width: 40%;
		float: left;
	}

	header img{
		width: 23%;
	}

	div{
		width: 44%;
		display: inline-block;
	}

	#model{
		float: right;
		height: 100vh;
	}

	.container{
		margin-left: 10%;
		margin-right: -10%;
		margin-bottom: 0;
		margin-top: 6%;
		text-align:left;
		width: 28%;
	}

	#heading span{
		font-size: 3.2em;
		margin: 3%;
		margin-left: 0;
	}

	.description{
		line-height: 25px;
		margin-top: 8%;
	}

	#mail{
		margin-top: 2%;
	}
}
